body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd089;
  color: #222;
  font-family: 'calibri', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}


.container{
  text-align : center;
  padding: 3em;
  border-radius: 5px;
  background-color: #fff;
  flex: 0 0 80%;
}
#quoteBtn{
  border: none;
  color: #fff;
  background: #d89134;
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
}

#quoteBtn:hover{
  color: #ffd454;
}
blockquote{
  background: #f9f9f9;
  border-left: 10px solid #fcdbbf;
  margin: 1.5rem;
  padding: 0.5rem;
}
#quoteAuthor{
  color: #ffd111;
}
