body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('img/background.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.images{
  background: yellow;
  flex: 0 0 80%;
  min-height: 70vh;
  background: url('img/bcg-0.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 5px 10px black;
  position: relative;
}

.btn{
  display: inline-block;
  background: white;
  color: black;
  border: 3px solid green;
  font-size: 1.7rem;
  padding: 0.5rem;
  border-radius: 20%;
  box-shadow: 2px 5px black;
  outline: none;
}

.prevBtn{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.btn:active{
  background: grey;
  box-shadow: 1.5px 1.5px grey;
}

.btn:hover{
  background: green;
  color: white;
}

.nextBtn{
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
